#follow_us_section {
  width: 100%;

  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-evenly;

  margin-top: 4rem;

  list-style-type: none;
}

#follow_us_section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

#follow_us_section li {
  margin-bottom: 4rem;
}