#follow_us_section {
  width: 100%;

  display: flex;
  flex-flow: nowrap column;
  align-items: center;

  margin-top: 4rem;
}

#follow_us_section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

#follow_us_section li {
  margin-bottom: 4rem;
}