#donations {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

#description {
  width: 80%;
  text-align: center;
  margin: 1rem 0;
  max-width: 40rem;
}

#details {
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: underline;
}

@media screen and (min-width: 480px) {}