#hero_section {
  background-color: #A90DFF;
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;

  width: 100vh;
  height: 100vh;

  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: space-between;
}

#hero_section h1 {
  margin-bottom: 4rem;
}

#hero_section p {
  font-size: 24pt;
}