#support_slider {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

#left_arrow_border {
  background-color: rgba(0, 0, 0, 0.87);;
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  clip-path: polygon(26% 10%, 26% 34%, 80% 24%, 66% 76%, 25% 50%, 12% 78%, 0 39%);
  transition: 0.2s ease-in-out;
}

#left_arrow_border:hover {
  width: 12rem;
  height: 12rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#left_arrow {
  background-color: #E14F00;
  width: 100%;
  height: 90%;
  clip-path: polygon(26% 10%, 26% 34%, 80% 24%, 66% 76%, 25% 50%, 12% 78%, 0 39%);
}

#left_arrow:hover {
  background-color: #49C500;
}

#image_border {
  background-color: rgba(0, 0, 0, 0.87);;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  clip-path: polygon(21% 13%, 74% 2%, 99% 56%, 82% 90%, 25% 100%, 3% 59%);
}

#image {
  width: 95%;
  height: 95%;
  clip-path: polygon(21% 13%, 74% 2%, 99% 56%, 82% 90%, 25% 100%, 3% 59%);
  background-image: url('https://images2.imgbox.com/85/f3/SKZmawOp_o.jpg');
  background-size: cover;
  background-position: center;
}

#right_arrow_border {
  background-color: rgba(0, 0, 0, 0.87);;
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  clip-path: polygon(9% 39%, 60% 37%, 50% 1%, 100% 38%, 76% 99%, 65% 60%, 25% 94%);
  transition: 0.2s ease-in-out;
}

#right_arrow_border:hover {
  width: 12rem;
  height: 12rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#right_arrow {
  background-color: #E14F00;
  width: 100%;
  height: 90%;
  clip-path: polygon(9% 39%, 60% 37%, 50% 1%, 100% 38%, 76% 99%, 65% 60%, 25% 94%);
}

#right_arrow:hover {
  background-color: #49C500;
}

@media screen and (min-width: 480px) {
  #image_border {
    width: 80%;
  }

  #image {
    width: 97%;
  }
}

/* 
#support_slider {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 100%;
}

#left_arrow {
  background-color: #E14F00;
  clip-path: polygon(26% 10%, 26% 34%, 80% 24%, 66% 76%, 25% 50%, 12% 78%, 0 39%);
  width: 12rem;
  height: 10rem;
  z-index: 1;
}

#right_arrow {
  background-color: #E14F00;
  clip-path: polygon(9% 39%, 60% 37%, 50% 1%, 100% 38%, 76% 99%, 65% 60%, 25% 94%);
  width: 10rem;
  height: 8rem;
  min-height: 8rem;
}

#image {
  background-image: url('https://images2.imgbox.com/85/f3/SKZmawOp_o.jpg');
  background-size: cover;
  width: 100%;
  height: 80vh;
  clip-path: polygon(21% 13%, 74% 2%, 99% 56%, 82% 90%, 25% 100%, 3% 59%);
}

@media screen and (min-width: 480px) {
  #support_slider {
    width: 80%;
    height: 100vh;
  }
}
 */

/* 
#support-slider {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

#decorative_top_triangle {
  width: 75%;
  height: 4rem;
  background-color: #57EA00;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#decorative_bottom_triangle {
  width: 75%;
  height: 4rem;
  background-color: #57EA00;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
}

#interior {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#supporter_view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
}

#supporter_information {
  background-color: rgba(1, 1, 1, 0.6);
  padding: 1rem 0;
  color: #FF5600;
  font-weight: 500;
}

#previous_button {
  width: 15%;
  border: none;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 85%);
  background-color: #57EA00;
}

#next_button {
  width: 15%;
  border: none;
  clip-path: polygon(0 0, 100% 25%, 100% 85%, 0 100%);
  background-color: #57EA00;
}

.open {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-end;
  text-align: center;
}

.closed {
  width: 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  #support-slider {
    width: 80%;
  }

  #supporter_view {
    width: 70%;
  }

  #supporter_information {
    background-color: rgba(1, 1, 1, 0);
    text-align: left;
    padding-left: 2rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
  }

  #decorative_top_triangle {
    height: 8rem;
    width: 70%;
  }

  #decorative_bottom_triangle {
    height: 8rem;
    width: 70%;
  }

  #previous_button {
    background-size: cover;
  }

  #next_button {
    background-size: cover;
  }
}
 */