#support_slider {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
}

#left_arrow_border {
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  clip-path: polygon(26% 10%, 26% 34%, 80% 24%, 66% 76%, 25% 50%, 12% 78%, 0 39%);
  transition: 0.2s ease-in-out;
}

#left_arrow_border:hover {
  width: 12rem;
  height: 12rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#left_arrow {
  background-color: #E14F00;
  width: 100%;
  height: 90%;
  clip-path: polygon(26% 10%, 26% 34%, 80% 24%, 66% 76%, 25% 50%, 12% 78%, 0 39%);
}

#left_arrow:hover {
  background-color: #49C500;
}

#image_border {
  background-color: rgba(0, 0, 0, 0.87);;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  clip-path: polygon(21% 13%, 74% 2%, 99% 56%, 82% 90%, 25% 100%, 3% 59%);
}

#image {
  width: 95%;
  height: 95%;
  clip-path: polygon(21% 13%, 74% 2%, 99% 56%, 82% 90%, 25% 100%, 3% 59%);
  background-image: url('https://images2.imgbox.com/85/f3/SKZmawOp_o.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-end;
  align-items: center;
}

.supporter_title {
  background-color: rgba(0, 0, 0, 0.64);
  color: #E14F00;
  box-shadow: 0 -1rem 1rem 1rem rgba(0, 0, 0, 0.64);
  font-weight: 500;
  width: 100%;
  height: 30%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-start;
  align-items: center;
}

#right_arrow_border {
  background-color: rgba(0, 0, 0, 0.87);;
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  clip-path: polygon(9% 39%, 60% 37%, 50% 1%, 100% 38%, 76% 99%, 65% 60%, 25% 94%);
  transition: 0.2s ease-in-out;
}

#right_arrow_border:hover {
  width: 12rem;
  height: 12rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#right_arrow {
  background-color: #E14F00;
  width: 100%;
  height: 90%;
  clip-path: polygon(9% 39%, 60% 37%, 50% 1%, 100% 38%, 76% 99%, 65% 60%, 25% 94%);
}

#right_arrow:hover {
  background-color: #49C500;
}

@media screen and (min-width: 480px) {
  #support_slider {
    height: 100vh;
  }

  #image_border {
    width: 80%;
  }

  #image {
    width: 97%;
  }

  .supporter_title {
    height: 20%;
  }
}