#support-slider {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

#support-slider .open {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#support-slider .closed {
    width: 0;
    overflow: hidden;
}