#header {
  background-color: #48006fff;
  width: 100%;
}

#header nav {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  
  background-color: #cf78ffff;
}

#header img {
  margin: 1rem;
  cursor: pointer;
}

#header .open {
  padding: 1rem 0;

  transition: 0.4s;
}

#header .closed {
  height: 0;
  padding: 0;

  transition: 0.4s;
}