#socials {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  padding: 8rem 0;
}

#socials_list {
  width: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media screen and (min-width: 480px) {
  .social_block {
    background-color: black;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      20% 0%,
      60% 20%,
      90% 0%,
      85% 30%,
      100% 50%,
      85% 65%,
      90% 95%,
      50% 80%,
      5% 100%,
      15% 60%,
      0% 40%,
      25% 25%
    );

    transition: 0.2s;
  }

  .social_block:hover {
    clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 25%, 100% 50%, 100% 75%, 100% 100%, 50% 100%, 0% 100%, 0% 75%, 0% 50%, 0% 25%);
    border-radius: 15%;
    transition: 0.2s;
  }

  .social_block:hover a {
    background-color: #49C500;
    clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 25%, 100% 50%, 100% 75%, 100% 100%, 50% 100%, 0% 100%, 0% 75%, 0% 50%, 0% 25%);
    border-radius: 15%;
    transition: 0.2s;
  }

  .social_block a {
    background-color: #E14F00;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      20% 0%,
      60% 20%,
      90% 0%,
      85% 30%,
      100% 50%,
      85% 65%,
      90% 95%,
      50% 80%,
      5% 100%,
      15% 60%,
      0% 40%,
      25% 25%
    );

    transition: 0.2s;
  }
}