#what_we_do_section {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

#bicycles_image {
  width: 100%;
  margin: 1rem 0;
}

#pyramid_image {
  width: 100%;
  margin: 1rem 0;
}

p {
  text-align: center;
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  p {
    max-width: 700px;
  }

  #bicycles_image{
    max-width: 750px;
    border-radius: 2rem;
    border: 4px solid #FF7800;
  }
  
  #pyramid_image{
    max-width: 750px;
    border-radius: 2rem;
    border: 4px solid #FF7800;
  }
}