:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffcfa4ff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#main_layout {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, input, textarea, button, ul, li, section, p {
  margin: 0;
  padding: 0;
}

//  400px for mobile
//  800px for tablets or small laptops
//  1200px for desktops
//  1600px for large displays