#Sponsors {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
}

.sponsors_box {
  width: 64%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.sponsor_box {
  background-color: red;
  width: 16rem;
  height: 16rem;
  margin-left: 4rem;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 850px) {
  #Sponsors {
    height: auto;
  }
  
  .sponsors_box {
    display: flex;
    flex-flow: nowrap column;
  }

  .sponsor_box {
    width: 16rem;
    height: 16rem;
    margin: 1rem;
  }
}